<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header}">

</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <div class="container mt-4">

        <h1 class="mb-4">Le nostre pizze</h1>

        <form th:action="@{/create}" method="get">
            <button type="submit" class="btn btn-primary mb-4">Aggiungi pizza</button>
        </form>

        <form th:action="@{/}" class="mb-3">
            <div class="input-group">
                <input type="text" name="search" th:value="${search}" class="form-control"
                    placeholder="Cerca pizza per nome...">
                <button class="btn btn-primary" type="submit">Cerca</button>
            </div>
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Nome</th>
                    <th>Prezzo</th>
                    <th>Dettagli</th>
                    <th>Modifica</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pizza : ${pizza}" th:object="${pizza}">
                    <td>
                        <img th:src="*{urlImg}" alt="error img" width="100">
                    </td>
                    <td th:text="*{name}"></td>
                    <td th:text="*{price} + '&euro;'"></td>
                    <td>
                        <a th:href="@{'/pizza/' + *{id}}" class="btn btn-sm btn-primary">
                            Visualizza
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/pizza/edit/{id}(id=*{id})}" class="btn btn-sm btn-warning">
                            Modifica
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>


        <div th:if="${pizza.size() == 0}" class="alert alert-warning">
            Non ci sono pizze disponibili.
        </div>

    </div>

</body>

</html>